body {
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gray;
    margin: 10px;
    display: inline-block;
}

#block-1 {
    background-color: red;
}

#block-2 {
    background-color: gray;
}

#block-3 {
    background-color: gray;
}

.traffic-light {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
}

.light {
    width: 100px; 
    height: 100px; 
}

button {
    padding: 10px 20px;
    font-size: 18px;
    width: 150px;
    height: 130px;
    border: none;
    margin-left: 20px;
}